.plan_box {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  height: 27rem;
  transition: all 0.3s ease-in-out;
}

.header_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.header_box h6 {
  font-size: 0.9rem;
  color: gray;
}

.header_box h5 span {
  color: #0d6efd;
  font-size: 1.6rem;
}

.header_box h5 {
  padding-top: 1rem;
}
.header_box h5 .time_span {
  font-size: 12px;
  color: gray;
}

.plan_box_list {
  list-style: none;
}

.plan_box_list li {
  margin: 0.6rem 0;
  font-size: 1rem;
}

.recommended_box {
  position: absolute;
  left: -7rem;
  top: -7rem;
  padding: 1rem;
  color: #fff;
  background-color: #0d6efd;
  transform: rotate(45deg) translateY(-10%);
  border-radius: 50%;
  width: 150px;
  height: 200px;
  transition: all 0.3s ease-in-out;
}

.plan_box:hover .recommended_box {
  left: -5rem;
  top: -5.5rem;
}

.recommended_box > span {
  position: absolute;
  right: 0;
  transform: rotate(-95deg) translateX(-6%);
  bottom: 5.5rem;
  font-size: 10px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.plan_box:hover .recommended_box > span {
  opacity: 1;
}

/* .plan_box:hover {
  transform: translateY(-10%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
} */

.plan_box_list li::before {
  content: "\2022";
  color: #0d6efd;
  margin-left: -0.5rem;
  font-weight: bold !important;
  width: 1rem;
  display: inline-block;
}

@media screen and (min-width: 1228px) {
  .plan_box:hover {
    transform: translateY(-10%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
}
